<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<config>
  <dbname>sarit-data</dbname>
  <username>admin</username>
  <password></password>
  <!-- path to sarit corpus -->
  <saritdata>data</saritdata>
  <!-- revision you want to save: override in command line args -->
  <revision>HEAD</revision>
  <!-- where exist is installed: TODO override -->
  <existdir>../exist</existdir>
  <!-- name of the index file -->
  <index>saritcorpus.xml</index>
  <config>collection.xconf</config>
</config>
