<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<config>
  <dbname>sarit-data</dbname>
  <username>admin</username>
  <password></password>
  <saritdata>data</saritdata>
  <!-- where exist is installed: TODO override -->
  <existdir>../exist</existdir>
  <index>saritcorpus.xml</index>
  <config>collection.xconf</config>
</config>
